# Weather API (Open-Meteo)
EXPO_PUBLIC_WEATHER_API_URL=https://api.open-meteo.com
EXPO_PUBLIC_WEATHER_API_VERSION=/v1

# Location Reverse Geocoding API (OpenStreetMap / Nominatim)
EXPO_PUBLIC_LOCATION_API_URL=https://nominatim.openstreetmap.org

